* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: url("../fonts/SpaceMono-Regular.ttf");
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 165px 34px 169px;
}
header .header-content {
  display: flex;
  gap: 32px;
  transform: translateX(-250px);
}
header .header-content a {
  text-decoration: none;
}
header .header-content a p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
header .header-content p:hover {
  transition: all 0.3s linear;
  color: black;
}
header button {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #fcb72b;
  border: none;
}
header .burger {
  display: none;
}
header button:hover {
  background-color: #9e6e0e;
  transition: all 0.3s linear;
}

.card-1 {
  width: 100%;
}
.card-1 .c-1__bg-img {
  width: 100%;
  height: 600px;
  padding-top: 153px;
  background-image: url(../images/c-1\ bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-1 .c-1__bg-img h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
  transform: translateX(165px);
}
.card-1 .c-1__bg-img .c-1__content {
  display: flex;
  align-items: center;
  gap: 57px;
}
.card-1 .c-1__bg-img .c-1__content p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.card-1 .c-1__bg-img .c-1__content .c-1__icon {
  transform: translateY(63px);
}
.card-1 .c-1__bg-img button {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #fcb72b;
  border: none;
  transform: translateX(260px);
  margin-top: 20px;
}

.card-2 {
  width: 100%;
  padding: 160px 165px 147px 165px;
}
.card-2 .c-2__bor-img {
  transform: translateX(-170px);
}
.card-2 .c-2__content {
  display: flex;
  align-items: center;
  gap: 30px;
  transform: translateY(-50px);
}
.card-2 .c-2__content .c-2__con-chaild p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 40px;
  margin-bottom: 27px;
}
.card-2 .c-2__content .c-2__con-chaild span {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.card-3 {
  width: 100%;
  padding: 0 160px 307px 140px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card-3 .c-3__content {
  display: flex;
  align-items: center;
  gap: 83px;
}
.card-3 .c-3__content .c-3__left-con h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.card-3 .c-3__content .c-3__left-con p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-top: 24px;
  margin-bottom: 40px;
}
.card-3 .c-3__content .c-3__left-con button {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #fcb72b;
  border: none;
}
.card-3 .c-3__content .c-3__right-con-1 {
  transform: translateX(150px);
}
.card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
  transform: translateY(-150px);
}
.card-3 .c-3__content .c-3__right-con-3 {
  transform: translateX(150px);
}
.card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
  border-radius: 50%;
}
.card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
  transform: translateY(-500px);
}

.footer__bg-img {
  width: 100%;
  height: 300px;
  background-image: url(../images/footer\ img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 102px 0 102px 165px;
  display: flex;
  align-items: center;
}
.footer__bg-img h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
  margin-right: 336px;
}
.footer__bg-img img {
  margin-right: 30px;
}

.c-4__end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 165px 34px 169px;
  background-color: #333a44;
}
.c-4__end .footer-content {
  display: flex;
  gap: 32px;
  transform: translateX(-250px);
}
.c-4__end .footer-content a {
  text-decoration: none;
}
.c-4__end .footer-content a p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.c-4__end .c-4__end-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

button:hover {
  background-color: #9e6e0e;
}

@media (max-width: 447px) {
  header {
    width: 100%;
    padding: 20px 19px 20px 19px;
    align-items: center;
  }
  header .header-content {
    display: none;
  }
  header button {
    display: none;
  }
  header .burger {
    display: flex;
  }
  .card-1 {
    width: 100%;
  }
  .card-1 .c-1__bg-img {
    width: 100%;
    text-align: center;
  }
  .card-1 .c-1__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
    color: #ffffff;
    transform: translateX(0px);
    margin-bottom: 50px;
  }
  .card-1 .c-1__bg-img .c-1__content {
    display: flex;
    flex-direction: column;
  }
  .card-1 .c-1__bg-img .c-1__content p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }
  .card-1 .c-1__bg-img .c-1__content .c-1__icon {
    display: none;
  }
  .card-1 .c-1__bg-img button {
    transform: translateX(0px);
  }
  .card-2 {
    width: 100%;
    padding: 80px 90px 75px 90px;
    text-align: center;
  }
  .card-2 .c-2__bor-img {
    display: none;
  }
  .card-2 .c-2__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transform: translateY(20px);
  }
  .card-2 .c-2__content .c-2__con-chaild p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.892857px;
    color: #495567;
  }
  .card-2 .c-2__content .c-2__con-chaild span {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  .card-3 {
    width: 100%;
    padding: 0 0;
    text-align: center;
  }
  .card-3 .c-3__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .card-3 .c-3__content .c-3__left-con h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .card-3 .c-3__content .c-3__left-con p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #939caa;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .card-3 .c-3__content .c-3__right-con-1 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
    transform: translateY(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
    border-radius: 50%;
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
    display: none;
  }
  .card-3 .c-3__content img {
    width: 200px;
  }
  .footer__bg-img {
    width: 100%;
    padding: 50px 30px;
    flex-wrap: wrap;
  }
  .footer__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .footer__bg-img img {
    margin-bottom: 10px;
  }
  .c-4__end {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  .c-4__end .footer-content {
    display: none;
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  header {
    width: 100%;
    padding: 20px 19px 20px 19px;
    align-items: center;
  }
  header .header-content {
    display: none;
  }
  header button {
    display: none;
  }
  header .burger {
    display: flex;
  }
  .card-1 {
    width: 100%;
  }
  .card-1 .c-1__bg-img {
    width: 100%;
    text-align: center;
  }
  .card-1 .c-1__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
    color: #ffffff;
    transform: translateX(0px);
    margin-bottom: 50px;
  }
  .card-1 .c-1__bg-img .c-1__content {
    display: flex;
    flex-direction: column;
  }
  .card-1 .c-1__bg-img .c-1__content p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }
  .card-1 .c-1__bg-img .c-1__content .c-1__icon {
    display: none;
  }
  .card-1 .c-1__bg-img button {
    transform: translateX(0px);
  }
  .card-2 {
    width: 100%;
    padding: 80px 90px 75px 90px;
    text-align: center;
  }
  .card-2 .c-2__bor-img {
    display: none;
  }
  .card-2 .c-2__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transform: translateY(20px);
  }
  .card-2 .c-2__content .c-2__con-chaild p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.892857px;
    color: #495567;
  }
  .card-2 .c-2__content .c-2__con-chaild span {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  .card-3 {
    width: 100%;
    padding: 0 0;
    text-align: center;
  }
  .card-3 .c-3__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .card-3 .c-3__content .c-3__left-con h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .card-3 .c-3__content .c-3__left-con p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #939caa;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .card-3 .c-3__content .c-3__right-con-1 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
    transform: translateY(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
    border-radius: 50%;
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
    display: none;
  }
  .card-3 .c-3__content img {
    width: 200px;
  }
  .footer__bg-img {
    width: 100%;
    padding: 50px 30px;
    flex-wrap: wrap;
  }
  .footer__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .c-4__end {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  .c-4__end .footer-content {
    display: none;
  }
}
@media (min-width: 769.1px) and (max-width: 990px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 100px 34px 105px;
  }
  header .header-content {
    transform: translateX(-50px);
  }
  header .burger {
    display: none;
  }
  .card-1 {
    width: 100%;
  }
  .card-1 .c-1__bg-img {
    width: 100%;
    text-align: center;
  }
  .card-1 .c-1__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    transform: translateX(0px);
  }
  .card-1 .c-1__bg-img .c-1__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .card-1 .c-1__bg-img .c-1__content p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
  .card-1 .c-1__bg-img .c-1__content img {
    display: none;
  }
  .card-1 .c-1__bg-img button {
    transform: translateX(0px);
  }
  .card-2 {
    width: 100%;
    padding: 80px 90px 75px 90px;
    display: flex;
    flex-direction: column;
  }
  .card-2 .c-2__bor-img {
    display: none;
  }
  .card-2 .c-2__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transform: translateY(20px);
  }
  .card-2 .c-2__content .c-2__con-chaild p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .card-2 .c-2__content .c-2__con-chaild span {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #939caa;
  }
  .card-3 {
    width: 100%;
    padding: 0 0;
    text-align: center;
  }
  .card-3 .c-3__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .card-3 .c-3__content .c-3__left-con h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .card-3 .c-3__content .c-3__left-con p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #939caa;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .card-3 .c-3__content .c-3__right-con-1 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
    transform: translateY(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 {
    transform: translateX(0px);
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
    border-radius: 50%;
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
    display: none;
  }
  .card-3 .c-3__content img {
    width: 350px;
  }
  .footer__bg-img {
    width: 100%;
    padding: 100px 0 0 100px;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -1.42857px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  .c-4__end {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  .c-4__end .footer-content {
    display: none;
  }
}
@media (min-width: 990.1px) and (max-width: 1200px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 100px 34px 105px;
  }
  header .header-content {
    transform: translateX(-50px);
  }
  header .burger {
    display: none;
  }
  .card-1 {
    width: 100%;
  }
  .card-1 .c-1__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #ffffff;
    transform: translateX(0px);
    margin-left: 250px;
  }
  .card-1 .c-1__bg-img .c-1__content {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .card-1 .c-1__bg-img .c-1__content p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }
  .card-2 {
    width: 100%;
    padding: 80px 90px 75px 90px;
  }
  .card-2 .c-2__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateY(-55px);
  }
  .card-2 .c-2__content .c-2__con-chaild p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .card-2 .c-2__content .c-2__con-chaild span {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #939caa;
  }
  .card-3 {
    width: 100%;
    padding: 0 160px 307px 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .card-3 .c-3__content {
    display: flex;
    align-items: center;
    gap: 83px;
  }
  .card-3 .c-3__content .c-3__left-con h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .card-3 .c-3__content .c-3__left-con p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .card-3 .c-3__content .c-3__left-con button {
    padding: 14px 39px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
  }
  .card-3 .c-3__content .c-3__right-con-1 {
    transform: translateX(100px);
  }
  .card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
    transform: translateY(-100px);
  }
  .card-3 .c-3__content .c-3__right-con-3 {
    transform: translateX(100px);
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
    border-radius: 50%;
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
    transform: translateY(-250px);
  }
  .card-3 img {
    width: 300px;
  }
  .footer__bg-img {
    width: 100%;
    padding: 100px 0 0 100px;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.42857px;
    margin-right: 200px;
    margin-bottom: 50px;
  }
  .c-4__end {
    width: 100%;
    padding: 30px 100px 30px 100px;
  }
  .c-4__end .footer-content {
    transform: translateX(-100px);
  }
}
@media (min-width: 1200px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 165px 34px 169px;
  }
  header .header-content {
    display: flex;
    gap: 32px;
    transform: translateX(-250px);
  }
  header .header-content a {
    text-decoration: none;
  }
  header .header-content a p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  header button {
    padding: 14px 39px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
  }
  header .burger {
    display: none;
  }
  .card-1 {
    width: 100%;
  }
  .card-1 .c-1__bg-img {
    width: 100%;
    height: 600px;
    padding-top: 153px;
    background-image: url(../images/c-1\ bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-1 .c-1__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #ffffff;
    transform: translateX(0px);
    margin-left: 200px;
  }
  .card-1 .c-1__bg-img .c-1__content {
    display: flex;
    align-items: center;
    gap: 57px;
  }
  .card-1 .c-1__bg-img .c-1__content p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }
  .card-1 .c-1__bg-img .c-1__content .c-1__icon {
    transform: translateY(63px);
  }
  .card-1 .c-1__bg-img button {
    padding: 14px 39px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
    transform: translateX(260px);
    margin-top: 20px;
  }
  .card-2 {
    width: 100%;
    padding: 160px 165px 147px 165px;
  }
  .card-2 .c-2__bor-img {
    transform: translateX(-170px);
  }
  .card-2 .c-2__content {
    display: flex;
    align-items: center;
    gap: 30px;
    transform: translateY(-50px);
  }
  .card-2 .c-2__content .c-2__con-chaild p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-top: 40px;
    margin-bottom: 27px;
  }
  .card-2 .c-2__content .c-2__con-chaild span {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  .card-3 {
    width: 100%;
    padding: 0 160px 307px 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .card-3 .c-3__content {
    display: flex;
    align-items: center;
    gap: 83px;
  }
  .card-3 .c-3__content .c-3__left-con h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .card-3 .c-3__content .c-3__left-con p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .card-3 .c-3__content .c-3__left-con button {
    padding: 14px 39px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #fcb72b;
    border: none;
  }
  .card-3 .c-3__content .c-3__right-con-1 {
    transform: translateX(150px);
  }
  .card-3 .c-3__content .c-3__right-con-1 .c-3__r-con-icon {
    transform: translateY(-150px);
  }
  .card-3 .c-3__content .c-3__right-con-3 {
    transform: translateX(150px);
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-img img {
    border-radius: 50%;
  }
  .card-3 .c-3__content .c-3__right-con-3 .c-3__r-con-icon {
    transform: translateY(-500px);
  }
  .card-3 img {
    width: 500px;
  }
  .footer__bg-img {
    width: 100%;
    height: 300px;
    background-image: url(../images/footer\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 102px 0 102px 165px;
    display: flex;
    align-items: center;
  }
  .footer__bg-img h3 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #ffffff;
    margin-right: 336px;
  }
  .footer__bg-img img {
    margin-right: 30px;
  }
  .c-4__end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 165px 34px 169px;
    background-color: #333a44;
  }
  .c-4__end .footer-content {
    display: flex;
    gap: 32px;
    transform: translateX(-250px);
  }
  .c-4__end .footer-content a {
    text-decoration: none;
  }
  .c-4__end .footer-content a p {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
  .c-4__end .c-4__end-icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */